<div class="ui huge icon message">
    <i class="inbox icon"></i>
    <div class="content">
        <div class="header">
            Awww ...
        </div>
        <p>You haven't created any projects yet :(</p>
    </div>
</div>