<div class="field">
    <div class="ui left labeled icon input">
        <input placeholder="Name" name="name" type="text">
        <i class="mail icon"></i>
        <div class="ui corner label">
            <i class="icon asterisk"></i>
        </div>
    </div>
</div>
<button class="ui blue button" type="submit">Start Project</button>