<form class="ui form raised segment">
    <div class="three fields">
        <div class="field">
            <label>Username</label>
            <input placeholder="Username" id="js-email" name="username" type="email">
        </div>
        <div class="field">
            <label>E-mail</label>
            <input placeholder="E-mail" id="js-email" name="email" type="email">
        </div>
        <div class="field">
            <label>Password</label>
            <input placeholder="Password" id="js-password" name="password" type="password">
        </div>
    </div>
    <div class="ui blue submit button js-submit">Login :)</div>
</form>