<div class="three fields">
    <div class="field">
        <label>Username</label>
        <input placeholder="Username" name="username" type="text">
    </div>
    <div class="field">
        <label>E-mail</label>
        <input placeholder="E-mail" name="email" type="email">
    </div>
    <div class="field">
        <label>Password</label>
        <input placeholder="Password" name="password" type="password">
    </div>
</div>
<div class="ui blue submit button js-submit">Ready to roll!</div>